@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto",sans-serif;
    --main-text-color:#2b2b2b;
}
h1{
    width: fit-content;
    margin: 2.5rem auto;
    color: var(--main-text-color);
}
#headlines{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 80vw;
    margin: 0px auto;
}
.card{
    border: 1.5px solid var(--main-text-color);
    background: #f3f3f3;
    color: var(--main-text-color);
    text-align: justify;
    height: 25vh;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.card img{
    height: 25vh;
    margin-right: 20px;
}
.description{
    margin-bottom: 20px;
    padding-right: 20px;
}
.link{
    color: #5d9cec;
    font-size: 15px;
    text-decoration: none;
}
@media (max-width:1000px) {
    #headlines{
        grid-template-columns: 1fr;
    }
}
@media (max-width:550px) {
    *{
        font-size: x-small;
    }
    .card a{
        font-size: small;
    }
    .description{
        margin-bottom: 10px;
    }
    h1{
        font-size: 1.5rem;
    }
    .card img{
        width: 100px;
        height: 70px;
    }
}